/* GENERAL */
@font-face {
    font-family: 'FBD_Logo';
    src: url('fbd_logo.woff') format('woff'),
         url('fbd_logo.ttf') format('truetype');
    font-weight: bold;
}

::selection {
    background-color: black;
    color: white;
}

::-moz-selection {
    background-color: black;
    color: white;
}

body{
    font-family: 'Oxygen', sans-serif;
    background: white;
    color: #1d2129;
}

p{
    font-size: 18px;
}



/* BANNER */
.banner{
    position: relative;
    width: 100%;
    text-align: center;
}

.banner_img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    opacity: 0.6;
}

.banner_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
}

.fbd_logo{
    font-family: FBD_Logo;
    color: #3b5998;
}



/* CONTENT */

.videoside iframe{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textside{
    overflow: scroll;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.download{
    background-color: #FFF;
    border-color: rgb(223, 223, 223);
    color: #1d2129;
    margin-top: 30px;
}

.download:hover{
    background-color: #3b5998;
    border-color: rgb(223, 223, 223);
    color: #FFF;
}


/*MEDIA QUERY*/
@media (min-width: 1px) {
  .banner_text{
    padding: 10px;
  }

  .fbd_logo{
    font-size: 32px;
}

  .banner_text h1{
    font-size: 28px;
  }

  .banner_text h2{
    font-size: 16px;
  }

  .banner_img{
    height: 200px;
  }
}



@media (min-width: 576px) {
  .banner_text{
    padding: 25px;
  }

  .fbd_logo{
    font-size: 36px;
}

  .banner_text h1{
    font-size: 32px;
  }

  .banner_text h2{
    font-size: 20px;
  }

  .banner_img{
    height: 200px;
  }

  .videoside iframe{
    width: 400px;
    height: 225px;
  }
}



@media (min-width: 768px) {
  .banner_text{
    padding: 40px;
  }

  .fbd_logo{
    font-size: 42px;
}

  .banner_text h1{
    font-size: 36px;
  }

  .banner_text h2{
    font-size: 24px;
  }

  .banner_img{
    height: 300px;
  }

  .videoside iframe{
    width: 560px;
    height: 315px;
  }
}



@media (min-width: 992px) {
  .banner_text{
    padding: 140px;
  }

  .fbd_logo{
    font-size: 46px;
}

  .banner_text h1{
    font-size: 40px;
  }

  .banner_text h2{
    font-size: 28px;
  }

  .banner_img{
    height: 400px;
  }

  .videoside iframe{
    width: 840px;
    height: 472px;
  }
}



@media (min-width: 1200px) {
}